#parse("./common/header.html")
<section class="content">
    <div class="center1000">


        <link rel="stylesheet" type="text/css" href="https://img658.b0.upaiyun.com/v2/static2/css/left_menu.css"/>
        <style>
            .house, .pay, .fund, .money, .letter, .person, .link, .myaccount, .memberRankmenu {
                display: inline-block;
                width: 16px;
                height: 16px;
                margin-right: 4px;
                position: relative;
                top: 4px;
                _top: 0;
                _background-color: red;
            }
        </style>
        <div class="acount-sub-nav clearfix">
        </div>

        <div class="fullBox container act-box">
            <div id="leftmenu" class="left lMenu">
                <dl>
                    <dt>
                        <a href="/investercenter">我的投资</a>
                    </dt>
                    <dt>
                        <a id="financercenter" href="http://www.658.com/userTrade">我的配资</a>
                    </dt>
                    <dt>
                        <a href="http://y.658.com/user/allcp">按天配资</a>
                    </dt>
                    <dt>
                        <a href="fund">资金管理</a>
                    </dt>
                    <dt>
                        <a href="myaccount" id="myaccount">账号设置</a>
                    </dt>
                    <!--
                    <dt>
                        <a id="memberRankmenu" href="grewLevel">会员特权</a>
                    </dt>
                     -->
                    <dt>
                        <a id="messagecenter" href="msgInfo">消息中心</a>
                    </dt>
                    <dt>
                        <a id="myLink" href="http://www.658.com/userTrade/MyLink">我的推广</a>
                    </dt>
                    <dt>
                        <a href="http://www.658.com/userTrade/RedMoney">我的红包</a>
                    </dt>
                </dl>
            </div>


            <!--[if lte IE 9]>
            <script src="https://img658.b0.upaiyun.com/v2/static2/js/html5.js"></script><![endif]-->
            <div class="right newAccount">
                <!--新的改动，start  myimg-->
                <dl>
                    <dt><b class="anyWhere"></b>我的专属客服</dt>

                    <dd>
                        <!--新的改动，-->
                        <div class="mykefu">


                            <img class="mykefus_img"
                                 src="http://image01.658.com/files/150415/1429091584479857d4baefad3745401364017bc764337b.jpg.png"
                                 width="94"
                                 height="94">

                            <div class="mykufus_info">
                                <span class="my_infoname">章家诚</span>(手机：15068021727)
                            </div>
                            <div class="mykufus_info">

                                <span>QQ:2690786273</span>&nbsp;&nbsp;&nbsp;

                                <span>微信：674442682</span>
                            </div>
                            <div class="mykufus_info">如您有任何问题，请随时与我联系，我将第一时间为您服务</div>
                            <div class="mykefus_right">
                                <a class="mykefus_zixun"
                                   href="tencent://message/?uin=2690786273&Menu=yes" target="_blank">在线咨询</a>
                                <a class="mykefus_gengxin"
                                   href="http://www.658.com/userTrade/changeConsultant"
                                   target="_blank">更换我的专属客服</a>
                            </div>
                        </div>
                    </dd>


                </dl>
                <!--新的改动，end myimg-->

                <dl>
                    <dt><b class="anyWhere"></b>账号设置</dt>
                    <dd>
                        <div class="myName">姓名: 何兆民
                            <br>账号：<strong>139****3711</strong><br>

                            <p class="gray f12">上次登录时间：2015-05-09 21:28:10</p>
                        </div>
                        <div class="myInfo">
                            <table width="750" border="0" cellspacing="0" cellpadding="0">
                                <tbody>
                                <tr>
                                    <td width="120" align="center" style="padding-top:20px"><img
                                            src="https://img658.b0.upaiyun.com/v2/658/www/images/account/icon_myAccount_id.png">
                                    </td>
                                    <td width="258" style="border-right:1px solid #ececec">
                                        <div class="f20 info_title">身份信息</div>


                                        <div class="info_state"><span class="fgreen">已填写</span></div>
                                        <div class="info_data">何兆民( 3728261979****0654)</div>
                                        <div class="info_dec">填写身份信息后才能进行资金操作</div>


                                    </td>
                                    <td width="120" align="center" style="padding-top:20px"><img
                                            src="https://img658.b0.upaiyun.com/v2/658/www/images/account/icon_myAccount_bank.png">
                                    </td>
                                    <td width="257">
                                        <div class="f20 info_title">银行卡</div>
                                        我的银行卡: 1张


                                        <a href="applyBind" class="blue-link" target="_blank">添加</a>
                                        |
                                        <a href="banklist" class="blue-link" target="_blank">管理</a>


                                        <div class="info_dec">绑定银行卡后才能提现</div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!--其他设置-->
                        <div class="myBinding bgGray">
                            <ul>
                                <li><span class="myBinding_title">密码</span></li>
                                <li><span class="myBinding_state">已设置</span></li>
                                <li class="fr"><a href="/jsp/modifyLoginPwd/modify_login_password.jsp" target="_blank">修改密码</a>
                                </li>
                            </ul>
                        </div>
                        <div class="myBinding">
                            <ul>
                                <li><span class="myBinding_title">手机</span></li>
                                <li><span class="myBinding_state">已绑定&nbsp;&nbsp;&nbsp;&nbsp;(1391****711)</span></li>
                                <!--  <li class="fr"><a href="getMobileAction" target="_blank">修改手机</a></li>   -->
                            </ul>
                        </div>
                        <!--
                        <div class="myBinding  bgGray">


                          <ul>
                            <li><span class="myBinding_title">邮箱</span></li>
                            <li><span class="myBinding_state">已绑定&nbsp;&nbsp;&nbsp;&nbsp;(13****@qq.com)</span></li>
                            <li class="fr"><a href="getEmailAction?type=modify" target="_blank">修改</a></li>
                            </ul>

                        </div>
                          -->
                        <div class="myBinding tdLast">
                            <ul>
                                <li><span class="myBinding_title">微信</span></li>


                                <li><span class="myBinding_state">已绑定</span></li>
                                <li class="fr"></li>


                            </ul>
                        </div>
                        <!--其他设置结束-->
                    </dd>
                    <dd>
                        <div class="left item3"></div>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</section>
<script>
    $(function () {
        $("#myaccount").attr("class", "selected");
    });
</script>


<style>
    .norton, .save-360, .faith {
        display: inline-block;
        overflow: hidden;
        background: none;
    }
</style>
<div class="clear"></div>
#parse("./common/footer.html")