<!--页脚-->
<div class="newfoot clearfix">
    <div class="f-main">
        <ul class="links-ul clearfix">
            <li class="links-li no-border">
                <h4>投资赚钱</h4>
                <a class="link-a" href="http://www.658.com/help?c=help&id=129" title="投资流程" target="_blank">投资流程</a>
                <a class="link-a" href="http://www.658.com/help?c=help&id=476" title="投资安全" target="_blank">投资安全</a>
                <a class="link-a" href="http://www.658.com/help?c=help&id=475" title="提现问题" target="_blank">提现问题</a>
                <a class="link-a" href="http://www.658.com/help?c=help&id=477" title="常见问题" target="_blank">投资常见问题</a>
            </li>
            <li class="links-li"><h4>借款配资</h4>
                <a class="link-a" href="http://www.658.com/help?c=help&id=127#a4" title="配资介绍" target="_blank">配资介绍</a>
                <a class="link-a" href="http://www.658.com/help?c=help&id=130" title="借款流程" target="_blank">借款流程</a>
                <a class="link-a" href="" title="调整利息" target="_blank">调整利息</a>
                <a class="link-a" href="http://www.658.com/help?c=help&id=123" title="还款方式" target="_blank">配资常见问题</a>
            </li>
            <li class="links-li"><h4>按天配资</h4>
                <a class="link-a" href="http://www.658.com/help/guide" title="按天配资免费炒股" target="_blank">按天配资是什么</a>
                <a class="link-a" href="http://www.658.com/help/play" title="操盘演示" target="_blank">操盘演示</a>
                <a class="link-a" href=" http://www.658.com/help?c=help&id=631" title="交易软件" target="_blank">交易软件</a>
                <a class="link-a" href="http://www.658.com/help?c=help&id=634" title="按天配资操盘规则" target="_blank">操盘规则</a>
            </li>
            <li class="links-li"><h4>关于我们</h4>
                <a class="link-a" href="http://www.658.com/help?c=about&id=2" title="公司简介" target="_blank">公司介绍</a>
                <a class="link-a" href="http://www.658.com/help?c=about&id=430" title="发展历程" target="_blank">发展历程</a>
                <a class="link-a" href="http://www.658.com/help?c=about&id=431" title="领导关怀" target="_blank">领导关怀</a>
                <a class="link-a" href="http://www.658.com/help?c=about&id=101" title="联系我们" target="_blank">联系我们</a>
            </li>
            <li class="links-li attention-box clearfix">
                <div class="service_info f16 c444">全国服务热线:<h2>400 7111 658</h2><font class="f14 c888">工作时间
                    8:30-24:00</font></div>
                <a class="attention qq"
                   href="http://wpa.b.qq.com/cgi/wpa.php?ln=1&amp;key=XzkzODAxMzA2N18xOTA2ODJfNDAwNzExMTY1OF8yXw"
                   title="qq" target="_blank" id="qqgroup" style="text-indent:0" rel='nofollow'>QQ群
                    <div id="qqgroup_img">
                        <div class="qqgroup_name"><p>投资QQ2群：145437341</p>

                            <p>投资QQ4群：29479155</p>

                            <p>投资QQ6群：295544343</p></div>
                    </div>
                </a>
                <a class="attention weixin" title="微信" id="wechat">微信号
                    <div id="wechat_img"></div>
                </a>
            </li>
        </ul>
    </div>
    <div class="clear c1000 f-link txt-c" style="margin-top:15px;">
        友情链接：
        <a href="http://www.wangdaizhijia.com/" target="_blank" title="" rel='nofollow'>网贷之家</a>
        <a href="http://www.p2peye.com/" target="_blank" title="" rel='nofollow'>网贷天眼</a>
        <a href="http://www.hao123.com/" target="_blank" title="" rel='nofollow'>hao123</a>
        <a href="http://www.76676.com/" target="_blank" title="" rel='nofollow'>76676</a>
    </div>
    <div class="clear"></div>
    <div class="copy c1000 txt-c c888">版权所有 杭州恒牛信息技术有限公司 Copyright Reserved 2013-2015 <a
            href="http://www.miibeian.gov.cn/" target="_blank" rel="nofollow">浙ICP备14002269</a></div>
    <div class="c1000 save-658 auth-658" style="border:none">
        <span>权威机构安全认证</span>
        <a class="faith" rel="nofollow" href="https://search.szfw.org/cert/l/CX20140528008136008200" target="_blank">
            <img width="93" height="33" border="0" src="http://image02.658.com/v2/658/common/images/faith1.png"/>
        </a>
        <a class="s360" rel="nofollow" href="http://webscan.360.cn/index/checkwebsite/url/www.658.com" target="_blank">
            <img width="93" height="33" border="0" src="http://image02.658.com/v2/658/common/images/s3601.png"/>
        </a>
        <a class="norton" rel="nofollow" href="#" target="_blank">
            <img width="91" height="33" border="0" src="http://image02.658.com/v2/658/common/images/norton1.png"/>
        </a>

        <a class="norton" rel="nofollow" href="http://www.anquan.org/authenticate/cert/?site=www.658.com&at=business"
           target="_blank">
            <img src="http://image01.658.com/658/hy_83x30.png"/>
        </a>
        <a class="norton" rel="nofollow"
           href="https://ss.knet.cn/verifyseal.dll?sn=e14122233010056926ktya000000&comefrom=trust&trustKey=dn&trustValue=www.658.com"
           target="_blank">
            <img src="http://image02.658.com/v2/658/www/images/home/time_cnnic.jpg" style="height:30px;"/>
        </a>

        <a rel="nofollow" style="display: inline-block;" target="_blank"
           href="http://idinfo.zjaic.gov.cn/bscx.do?method=hddoc&id=33010200001136" rel="nofollow">
            <img src="http://image02.658.com/v2/658/common/images/i_lo2.gif" border="0">
        </a>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function (e) {
        $('#wechat').hover(function () {
            $(this).attr('id', 'wechat_hover');
            $('#wechat_img').show();
        }, function () {
            $(this).attr('id', 'wechat');
            $('#wechat_img').hide();
        });
        $('#qqgroup').hover(function () {
            $(this).attr('id', 'qqgroup_hover');
            $('#qqgroup_img').show();
        }, function () {
            $(this).attr('id', 'qqgroup');
            $('#qqgroup_img').hide();
        });
    });
</script>


<script src="http://image02.658.com/v2/static/js/backTop.js"></script>


<script type="text/javascript" src="http://image02.658.com/v2/static/js/jquery.yiilistview.js"></script>
<script type="text/javascript">
    /*<![CDATA[*/
    jQuery(function ($) {
        jQuery('#yw0').yiiListView({'ajaxUpdate': [], 'ajaxVar': 'ajax', 'pagerClass': 'goahead', 'loadingClass': 'list-view-loading', 'sorterClass': 'sorter', 'enableHistory': false});
        jQuery('#yw1').yiiListView({'ajaxUpdate': [], 'ajaxVar': 'ajax', 'pagerClass': 'goahead', 'loadingClass': 'list-view-loading', 'sorterClass': 'sorter', 'enableHistory': false});
        jQuery('#yw2').yiiListView({'ajaxUpdate': [], 'ajaxVar': 'ajax', 'pagerClass': 'goahead', 'loadingClass': 'list-view-loading', 'sorterClass': 'sorter', 'enableHistory': false});
    });
    /*]]>*/
</script>
</body>
</html>
<script>
    $(function () {
        $('.keys').remove();
        var oul = $('.wrap .all_people');
        var oulHtml = oul.html();
        oul.html(oulHtml + oulHtml)
        var timeId = null;

        var ali = $('.wrap .all_people dd');
        var aliWidth = ali.eq(0).width() + 36;
        var aliSize = ali.size();
        var ulWidth = aliWidth * aliSize;
        oul.width(ulWidth);	//1600px

        $('.goLeft').click(function () {
            if (oul.css('left') == -ulWidth / 2 + 'px') {
                oul.css('left', 0);
            }
            oul.animate({'left': '+=-160px'}, 1000);
        });

        $('.goRight').click(function () {
            if (oul.css('left') == '0px') {
                oul.css('left', -ulWidth / 2 + 'px');
            }
            oul.animate({'left': '+=160px'}, 1000);
        });

        $('.bt-pr').mouseover(function () {
            $(this).find('.weChat').show();
        });
        $('.bt-pr').mouseout(function () {
            $(this).find('.weChat').hide();
        });
    });
</script>