
<style type="text/css">
    .app_box {
        width: 1000px;
        margin: 0 auto;
        overflow: hidden;
    }

    .app_box .app_boxlf {
        width: 449px;
        float: left;
        height: 518px;
        background: url(http://image02.658.com/v2/658/www/images/iphone.png) no-repeat;
        background-size: 449px 600px;
        margin-top: 70px;
    }

    .app_box .app_boxrt {
        width: 550px;
        float: left;
    }

    .app_box .app_boxrt h2 {
        font-size: 72px;
        color: #323030;
        padding-left: 42px;
        padding-top: 169px;
    }

    .app_box .app_boxrt .app_cho {
        font-size: 18px;
        color: #d22000;
        padding-left: 42px;
        padding-top: 10px;
        padding-bottom: 43px;
    }

    .app_box .app_boxrt .boxrt_lf {
        float: left;
    }

    .app_box .app_boxrt .boxrt_lf .iphone_app {
        height: 50px;
        background-color: #d50707 !important;
        color: #fff;
        font-size: 18px;
        margin-left: 42px;
        line-height: 50px;
        background: url(http://image02.658.com/v2/658/zhuanti/app_download/xiazai_img.png) no-repeat;
        background-position: 33px -120px;
        width: 249px;
        border-radius: 5px;
        margin-bottom: 33px;
    }

    .app_box .app_boxrt .boxrt_lf .iphone_app:hover {
        background-color: #BA0101 !important;
    }

    .app_box .app_boxrt .boxrt_lf .Android_app:hover {
        background-color: #e86321 !important;
    }

    .app_box .app_boxrt .boxrt_lf .iphone_app a, .app_box .app_boxrt .boxrt_lf .Android_app a {
        color: #fff;
        display: inline-block;
        padding-left: 92px;
        text-decoration: none;
    }

    .app_box .app_boxrt .boxrt_lf .Android_app {
        height: 50px;
        background-color: #fa712d !important;
        color: #fff;
        font-size: 18px;
        margin-left: 42px;
        line-height: 50px;
        background: url(http://image02.658.com/v2/658/zhuanti/app_download/xiazai_img.png) no-repeat;
        background-position: 33px -172px;
        width: 249px;
        border-radius: 5px;
    }

    .app_box .app_boxrt .boxrt_rt {
        width: 135px;
        height: 135px;
        margin-left: 29px;
        float: left;
    }

</style>

<div class="app_box">
    <div class="app_boxlf">
    </div>
    <div class="app_boxrt">
        <h2>开启无限钱景</h2>

        <p class="app_cho">(已安装尝鲜版用户请删除后重新下载)</p>

        <div class="boxrt_lf">
            <p class="iphone_app"><a href="https://itunes.apple.com/cn/app/658jin-rong-wang/id954246170?l=zh&ls=1&mt=8"
                                     target="_blank">iPhone版下载</a></p>

            <p class="Android_app"><a href="http://image02.658.com/app/android/package_658.apk" target="_blank">Android版下载</a>
            </p>
        </div>
        <div class="boxrt_rt">
            <img src="http://image02.658.com/v2/658/www/images/erweima.png" alt="" width="100%">
        </div>
    </div>
</div>