#parse("./common/header.html")
<style>
    /*--------------css---------------*/
    ul.menu_left {
        width: 175px;
        float: left;
        height: 560px;
        border: solid 1px #e3e3e3;
        background-color: #f7f7f7;
        margin: 15px 11px 15px 0
    }

    ul.menu_left li {
        list-style: none;
        margin: 5px 0px;
    }

    ul.menu_left li a {
        width: 175px;
        height: 42px;
        line-height: 42px;
        color: #444;
        text-indent: 35px;
        display: block;
        font-size: 14px
    }

    ul.menu_left li a:hover {
        background-color: #f1f1f1;
        color: #000
    }

    ul.menu_left li a.cur {
        width: 179px;
        height: 45px;
        line-height: 45px;
        color: #ae0000;
        text-indent: 35px;
        background: url(http://image01.658.com/team/about_03.jpg) no-repeat;
        display: block;
    }

    .about_content {
        width: 770px;
        background-color: #fff;
        border: solid 1px #e3e3e3;
        min-height: 800px;
        float: left;
        margin: 15px 0px;
        padding: 20px;
    }

    .about_content_bt {
        border-bottom: solid 1px #e7e7e7;
        height: 35px;
        padding-bottom: 16px;
        margin-bottom: 20px;
    }

    .about_content_bt h3 {
        color: #ae0000;
        border-bottom: solid 3px #ae0000;
        line-height: 35px;
        padding-bottom: 15px;
        font-size: 22px;
        text-indent: 5px
    }

    .csr {
        padding-bottom: 20px;
        border-bottom: solid 1px #f5f5f5;
        margin-bottom: 20px;
    }

    .csr img {
        float: left;
        margin-right: 25px
    }

    .csr h5 {
        font-size: 30px;
        color: #555;
        line-height: 65px;
    }

    .csr h6 {
        font-size: 18px;
        color: #aaa
    }

    .yuangong {
        margin: 35px;
    }

    .yuangong h4 {
        font-size: 16px;
        margin: 15px 0 15px;
    }

    .yuangong p {
        line-height: 27px;
        font-size: 14px;
        margin: 10px;
        color: #444;
    }

    .yuangong ul li {
        float: left;
        list-style: none;
        padding: 10px;
        margin: 12px;
        border: solid 1px #f5f5f5;
    }

    .jieshao {
        padding: 20px 0 0 123px;
        width: 500px
    }

    .jieshao p {
        color: #999;
        line-height: 27px
    }

    .jieshao h7 {
        font-size: 16px;
        color: #444;
        line-height: 35px
    }

    p {
        color: #999;
        line-height: 27px;
        font-size: 15px;
    }
</style>
<link rel="stylesheet" href="http://image02.658.com/v2/static/css/base.css">
<link rel="stylesheet" href="http://image02.658.com/v2/static/css/investinfoV1.css">
<!--[if lte IE 9]>
<script src="http://static.658.com/common/build/1.00/js/html5.js"></script><![endif]-->


<div class="cont-list-wrap clearfix">
    <div class="center1000">
        <ul class="menu_left">
            <li><a class="cur" href="http://www.658.com/help?c=about&id=2">公司介绍</a></li>
            <li><a href="http://www.658.com/help?c=about&id=430">发展历程</a></li>
            <li><a href="http://www.658.com/help?c=team&id=1">团队介绍</a></li>
            <li><a href="http://www.658.com/help?c=about&id=515">员工风采</a></li>
            <li><a href="http://www.658.com/help?c=about&id=431">领导关怀</a></li>
            <li><a href="http://www.658.com/help?c=media">媒体报道</a></li>
            <li><a href="http://www.658.com/help?c=notice">网站公告</a></li>
            <li><a href="http://www.658.com/help?c=about&id=105">服务协议</a></li>
            <li><a href="http://www.658.com/help?c=about&id=101">联系我们</a></li>
            <li><a href="http://www.658.com/help?c=about&id=103">诚聘英才</a></li>
            <li><a href="http://www.658.com/help?c=about&id=438">合作伙伴</a></li>
        </ul>
        <div class="about_content">

            <div class="about_content_bt">
                <h3>公司介绍</h3>
            </div>
            <p><br/></p>

            <p><span
                    style="color: rgb(0, 0, 0); line-height: 2; font-family: arial, helvetica, sans-serif; font-size: 14px;">公司介绍</span><span
                    style="color: rgb(89, 89, 89); line-height: 2; font-family: arial, helvetica, sans-serif; font-size: 14px;"><br/></span>
            </p>

            <p><span
                    style="color: rgb(89, 89, 89); line-height: 2; font-family: arial, helvetica, sans-serif; font-size: 14px;">杭州恒牛信息技术有限公司【658金融网】（网址：<a
                    href="http://www.658.com">www.658.com</a>）于2013年12月在杭州市工商行政管理局正式注册成立，目前股东投入5000万元人民币。作为一家专业的互联网金融信息服务机构，658金融网由金融管理和电子商务等业界一流的专业团队组成，拥有行业领先的风险管控能力和先进、安全的互联网平台，结合数十年综合的金融、电商及服务经验，通过科学、严谨、安全、高效的业务办理流程，为全国金融投资者提供最专业的配资咨询、资金匹配、风险控制等金融信息服务。</span>
            </p>

            <p><span
                    style="color: rgb(89, 89, 89); line-height: 2; font-family: arial, helvetica, sans-serif; font-size: 14px;">平台自成立以来，一直秉承“一切以客户价值为依归”的经营理念，树立以客户为中心的服务理念，一切以客户需求为导向，所有工作以保证客户利益为前提，不断提升客户对安全、信任、专业、财富四个方面的满意度。我们采用先进的理念和创新的技术建立了一个安全、高效、诚信、透明的互联网金融平台，规范借贷行为，让借款人撬动最大收益，让投钱人增加投资渠道。</span>
            </p>

            <p><span
                    style="color: rgb(89, 89, 89); line-height: 2; font-family: arial, helvetica, sans-serif; font-size: 14px;">我们相信，随着互联网的发展和中国个人信用体系的健全，先进的理念和创新的技术将给民间借贷带来历史性的变革，658金融将是这场变革的领导者。</span>
            </p>

            <p><span
                    style="color: rgb(89, 89, 89); line-height: 2; font-family: arial, helvetica, sans-serif; font-size: 14px;">最后，我们坚信：用户的利益高于一切。我们希望用诚实透明的技术和服务理念，和投融双方的客户紧密合作，在满足各方需求的同时收获信任，这也是658能够成长的最大动力源泉。</span>
            </p>

            <p>&nbsp;</p>

            <p>&nbsp;</p>

            <p><span
                    style="color: rgb(0, 0, 0); line-height: 2; font-family: arial, helvetica, sans-serif; font-size: 14px;">企业文化</span>
            </p>

            <p><span
                    style="color: rgb(89, 89, 89); line-height: 2; font-family: arial, helvetica, sans-serif; font-size: 14px;">愿 &nbsp; &nbsp;景：做最专业的金融服务平台<a
                    title="透明办公室" href="http://www.658.com/help/liveshow" target="_blank"></a></span></p>

            <p><span
                    style="color: rgb(89, 89, 89); line-height: 2; font-family: arial, helvetica, sans-serif; font-size: 14px;">使 &nbsp; &nbsp;命：让更多的财富梦想得以实现</span>
            </p>

            <p><span
                    style="color: rgb(89, 89, 89); line-height: 2; font-family: arial, helvetica, sans-serif; font-size: 14px;">信 &nbsp; &nbsp;念：创造价值 &nbsp;增长财富</span>
            </p>

            <p><span
                    style="color: rgb(89, 89, 89); line-height: 2; font-family: arial, helvetica, sans-serif; font-size: 14px;">追 &nbsp; &nbsp;求：为客户提供有价值的服务</span>
            </p>

            <p><span
                    style="color: rgb(89, 89, 89); line-height: 2; font-family: arial, helvetica, sans-serif; font-size: 14px;">为什么我们要追求为客户提供有用的价值服务？因为客户满意是</span><span
                    style="color: rgb(89, 89, 89); line-height: 2; font-family: arial, helvetica, sans-serif; font-size: 14px;">一种赢得</span><span
                    style="color: rgb(89, 89, 89); line-height: 2; font-family: arial, helvetica, sans-serif; font-size: 14px;">竞争的能力。</span><span
                    style="color: rgb(89, 89, 89); line-height: 2; font-family: arial, helvetica, sans-serif; font-size: 14px;">如何才能为客户提供有价值的服务？树立</span><span
                    style="color: rgb(89, 89, 89); line-height: 2; font-family: arial, helvetica, sans-serif; font-size: 14px;">以客户为中心的服</span><span
                    style="color: rgb(89, 89, 89); line-height: 2; font-family: arial, helvetica, sans-serif; font-size: 14px;">务理念和企业文化，一切</span><span
                    style="color: rgb(89, 89, 89); line-height: 2; font-family: arial, helvetica, sans-serif; font-size: 14px;">以客户需求为导向，</span><span
                    style="color: rgb(89, 89, 89); line-height: 2; font-family: arial, helvetica, sans-serif; font-size: 14px;">所有工作以保证客户利益为</span><span
                    style="color: rgb(89, 89, 89); line-height: 2; font-family: arial, helvetica, sans-serif; font-size: 14px;">前提，不断提升客户对安全、信任、</span><span
                    style="color: rgb(89, 89, 89); line-height: 2; font-family: arial, helvetica, sans-serif; font-size: 14px;">专业、财富四个方面的满意度。</span>
            </p>

            <p>&nbsp;</p>

            <p><img alt="" src="http://image02.658.com/v2/658/www/images/team/658moshi.jpg"/> &nbsp; &nbsp;<br/></p>

            <p><span
                    style="color: rgb(0, 0, 0); line-height: 2; font-family: arial, helvetica, sans-serif; font-size: 14px;">资质证明</span>
            </p>

            <p><span style="color: rgb(0, 0, 0); line-height: 2;"><img alt=""
                                                                       src="http://image02.658.com/v2/658/www/images/team/license.jpg"/><br/></span>
            </p>

            <p><span style="color: rgb(0, 0, 0); line-height: 2;"><img alt=""
                                                                       src="http://image02.658.com/v2/658/www/images/team/license1.jpg"/><br/></span>
            </p>

            <p><span style="color: rgb(0, 0, 0); line-height: 2;"><img alt=""
                                                                       src="http://image02.658.com/v2/658/www/images/team/zuzhijigou.jpg"
                                                                       width="770"/><br/></span></p>

            <p><span style="color: rgb(0, 0, 0); line-height: 2;"><img alt=""
                                                                       src="http://image02.658.com/v2/658/www/images/team/shuiwudengji.jpg"
                                                                       width="770"/><br/></span></p>

            <p><span style="color: rgb(0, 0, 0); line-height: 2;"><img alt=""
                                                                       src="http://image02.658.com/v2/658/www/images/team/shuiwudengji_fuben.jpg"
                                                                       width="770"/><br/></span></p>

            <p>&nbsp;</p>

            <p>&nbsp;</p>

            <p>&nbsp;</p>

            <p>&nbsp;</p>

            <p>&nbsp;</p>

            <p><br/></p>

            <p><br/></p>

            <p><br/></p>

            <p><br/></p>

            <p><br/></p>

            <p><br/></p>

            <p><br/></p>

            <p><br/></p>

            <p><br/></p>
        </div>
        <div style=" clear:both"></div>
    </div>
</div>
#parse("./common/footer.html")