#parse("./common/header.html")
<div class="row">
    <img src="http://www.haodaibao.com/images/topic_rxb.jpg">
</div>
<div class="row">

    <div class="hidden-xs hidden-sm col-md-3 col-lg-3">
        <p>累计投资金额</p>
        <div class="number">
            <span style="color: #d22000;">19.764</span>亿元
        </div>
    </div>
    <div class="hidden-xs hidden-sm col-md-3 col-lg-3">
        <p>昨日投资金额</p>
        <div class="number">
            <span style="color: #d22000;">2,985.21</span>万元
        </div>
    </div>
    <div class="hidden-xs hidden-sm col-md-3 col-lg-3">
        <p>坏账率</p>
        <div class="number"><span>0.00%</span></div>
    </div>
    <div class="hidden-xs hidden-sm col-md-3 col-lg-3">
        <p>贴心服务</p>
        <div class="number"><span>1</span>对<span>1</span>客服</div>
    </div>

</div>
<div class="row">
    <div class="hidden-xs hidden-sm col-md-3 col-lg-2">
        #parse("./common/leftmenu.html")
    </div>
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-10">

    </div>
</div>
#parse("./common/footer.html")